# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

# config
config.yaml

# ansible
provisioning/inventory.ini

# vscode
.vscode
*.code-workspace
.history/
